{{define "settings/panel/general"}}
<a-collapse default-active-key="1">
    <a-collapse-panel key="1" header='{{ i18n "pages.xray.generalConfigs"}}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.panelListeningIP"}}</template>
            <template #description>{{ i18n "pages.settings.panelListeningIPDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.webListen"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.panelListeningDomain"}}</template>
            <template #description>{{ i18n "pages.settings.panelListeningDomainDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.webDomain"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.panelPort"}}</template>
            <template #description>{{ i18n "pages.settings.panelPortDesc"}}</template>
            <template #control>
                <a-input-number :min="1" :max="65535" v-model="allSetting.webPort" :style="{ width: '100%' }"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.panelUrlPath"}}</template>
            <template #description>{{ i18n "pages.settings.panelUrlPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.webBasePath"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.sessionMaxAge" }}</template>
            <template #description>{{ i18n "pages.settings.sessionMaxAgeDesc" }}</template>
            <template #control>
                <a-input-number :min="60" v-model="allSetting.sessionMaxAge" :style="{ width: '100%' }"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="2" header='{{ i18n "pages.settings.certs" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.publicKeyPath"}}</template>
            <template #description>{{ i18n "pages.settings.publicKeyPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.webCertFile"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.privateKeyPath"}}</template>
            <template #description>{{ i18n "pages.settings.privateKeyPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.webKeyFile"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="3" header='{{ i18n "pages.settings.clients" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.restartXrayOnClientDisable"}}</template>
            <template #description>{{ i18n "pages.settings.restartXrayOnClientDisableDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.restartXrayOnClientDisable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.externalTrafficInformEnable"}}</template>
            <template #description>{{ i18n "pages.settings.externalTrafficInformEnableDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.externalTrafficInformEnable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.externalTrafficInformURI"}}</template>
            <template #description>{{ i18n "pages.settings.externalTrafficInformURIDesc"}}</template>
            <template #control>
                <a-input type="text" placeholder="(http|https)://domain[:port]/path/"
                    v-model="allSetting.externalTrafficInformURI"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
</a-collapse>
{{end}}